
html, body, #canvas {
    overflow-x: hidden;
}

body {
    position: relative;
    background-color: #403d39;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#canvas {
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 100vh;
    /* border: 1px solid black; */
}